# Reshaping Data

## df.sort_values, rename, sort_index로 데이터 프레임 Reshaping하기

In [3]:
import pandas as pd

# seaborn은 시각화툴.
import seaborn as sns

In [3]:
df = sns.load_dataset("mpg")
df.shape

(398, 9)

In [17]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

### df.sort_values('mpg')
- mpg라는 컬럼을 기준으로 값을 sorting한다.

In [5]:
df.sort_values('mpg')

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
28,9.0,8,304.0,193.0,4732,18.5,70,usa,hi 1200d
25,10.0,8,360.0,215.0,4615,14.0,70,usa,ford f250
26,10.0,8,307.0,200.0,4376,15.0,70,usa,chevy c20
103,11.0,8,400.0,150.0,4997,14.0,73,usa,chevrolet impala
124,11.0,8,350.0,180.0,3664,11.0,73,usa,oldsmobile omega
27,11.0,8,318.0,210.0,4382,13.5,70,usa,dodge d200
67,11.0,8,429.0,208.0,4633,11.0,72,usa,mercury marquis
95,12.0,8,455.0,225.0,4951,11.0,73,usa,buick electra 225 custom
104,12.0,8,400.0,167.0,4906,12.5,73,usa,ford country
90,12.0,8,429.0,198.0,4952,11.5,73,usa,mercury marquis brougham
106,12.0,8,350.0,180.0,4499,12.5,73,usa,oldsmobile vista cruiser
42,12.0,8,383.0,180.0,4955,11.5,71,usa,dodge monaco (sw)
69,12.0,8,350.0,160.0,4456,13.5,72,usa,oldsmobile delta 88 royale
213,13.0,8,350.0,145.0,4055,12.0,76,usa,chevy c10
85,13.0,8,350.0,175.0,4100,13.0,73,usa,buick century 350
44,13.0,8,400.0,175.0,5140,12.0,71,usa,pontiac safari (sw)
43,13.0,8,400.0,170.0,4746,12.0,71,usa,ford country squire (sw)
215,13.0,8,318.0,150.0,3755,14.0,76,usa,dodge d100
87,13.0,8,350.0,145.0,3988,13.0,73,usa,chevrolet malibu
214,13.0,8,302.0,130.0,3870,15.0,76,usa,ford f108
62,13.0,8,350.0,165.0,4274,12.0,72,usa,chevrolet impala
92,13.0,8,351.0,158.0,4363,13.0,73,usa,ford ltd
73,13.0,8,307.0,130.0,4098,14.0,72,usa,chevrolet chevelle concours (sw)
94,13.0,8,440.0,215.0,4735,11.0,73,usa,chrysler new yorker brougham
96,13.0,8,360.0,175.0,3821,11.0,73,usa,amc ambassador brougham
208,13.0,8,318.0,150.0,3940,13.2,76,usa,plymouth volare premier v8
137,13.0,8,350.0,150.0,4699,14.5,74,usa,buick century luxus (sw)
70,13.0,8,400.0,190.0,4422,12.5,72,usa,chrysler newport royal
68,13.0,8,350.0,155.0,4502,13.5,72,usa,buick lesabre custom
105,13.0,8,360.0,170.0,4654,13.0,73,usa,plymouth custom suburb
...,...,...,...,...,...,...,...,...,...
381,36.0,4,107.0,75.0,2205,14.5,82,japan,honda accord
379,36.0,4,98.0,70.0,2125,17.3,82,usa,mercury lynx l
391,36.0,4,135.0,84.0,2370,13.0,82,usa,dodge charger 2.2
380,36.0,4,120.0,88.0,2160,14.5,82,japan,nissan stanza xe
245,36.1,4,98.0,66.0,1800,14.4,78,usa,ford fiesta
248,36.1,4,91.0,60.0,1800,16.4,78,japan,honda civic cvcc
327,36.4,5,121.0,67.0,2950,19.9,80,europe,audi 5000s (diesel)
347,37.0,4,85.0,65.0,1975,19.4,81,japan,datsun 210 mpg
320,37.0,4,119.0,92.0,2434,15.0,80,japan,datsun 510 hatchback
376,37.0,4,91.0,68.0,2025,18.2,82,japan,mazda glc custom l
312,37.2,4,86.0,65.0,2019,16.4,80,japan,datsun 310
304,37.3,4,91.0,69.0,2130,14.7,79,europe,fiat strada custom
348,37.7,4,89.0,62.0,2050,17.3,81,japan,toyota tercel
387,38.0,6,262.0,85.0,3015,17.0,82,usa,oldsmobile cutlass ciera (diesel)
378,38.0,4,105.0,63.0,2125,14.7,82,usa,plymouth horizon miser
385,38.0,4,91.0,67.0,1995,16.2,82,japan,datsun 310 gx
383,38.0,4,91.0,67.0,1965,15.0,82,japan,honda civic
310,38.1,4,89.0,60.0,1968,18.8,80,japan,toyota corolla tercel
344,39.0,4,86.0,64.0,1875,16.4,81,usa,plymouth champ
343,39.1,4,79.0,58.0,1755,16.9,81,japan,toyota starlet
247,39.4,4,85.0,70.0,2070,18.6,78,japan,datsun b210 gx
324,40.8,4,85.0,65.0,2110,19.2,80,japan,datsun 210
330,40.9,4,85.0,NaN,1835,17.3,80,europe,renault lecar deluxe
309,41.5,4,98.0,76.0,2144,14.7,80,europe,vw rabbit
244,43.1,4,90.0,48.0,1985,21.5,78,europe,volkswagen rabbit custom diesel
326,43.4,4,90.0,48.0,2335,23.7,80,europe,vw dasher (diesel)
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
325,44.3,4,90.0,48.0,2085,21.7,80,europe,vw rabbit c (diesel)
329,44.6,4,91.0,67.0,1850,13.8,80,japan,honda civic 1500 gl
322,46.6,4,86.0,65.0,2110,17.9,80,japan,mazda glc

### df.sort_values('mpg',ascending=False)
- ascending = False라는 것은 정열을 순차가 아닌 역순으로 정열하겠다는 의미
- ascending = True는 순차정열을 의미
<br><br>

그 밖에도, ascending뿐 아니라 inplace는 정열 결과를 그대로 저장할 것인지, 결측치를 어떻게 다룰지에 대해서도 패러미터로 지정하여 다룰 수 있다.

In [6]:
df.sort_values('mpg',ascending=False)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
322,46.6,4,86.0,65.0,2110,17.9,80,japan,mazda glc
329,44.6,4,91.0,67.0,1850,13.8,80,japan,honda civic 1500 gl
325,44.3,4,90.0,48.0,2085,21.7,80,europe,vw rabbit c (diesel)
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
326,43.4,4,90.0,48.0,2335,23.7,80,europe,vw dasher (diesel)
244,43.1,4,90.0,48.0,1985,21.5,78,europe,volkswagen rabbit custom diesel
309,41.5,4,98.0,76.0,2144,14.7,80,europe,vw rabbit
330,40.9,4,85.0,NaN,1835,17.3,80,europe,renault lecar deluxe
324,40.8,4,85.0,65.0,2110,19.2,80,japan,datsun 210
247,39.4,4,85.0,70.0,2070,18.6,78,japan,datsun b210 gx
343,39.1,4,79.0,58.0,1755,16.9,81,japan,toyota starlet
344,39.0,4,86.0,64.0,1875,16.4,81,usa,plymouth champ
310,38.1,4,89.0,60.0,1968,18.8,80,japan,toyota corolla tercel
387,38.0,6,262.0,85.0,3015,17.0,82,usa,oldsmobile cutlass ciera (diesel)
385,38.0,4,91.0,67.0,1995,16.2,82,japan,datsun 310 gx
383,38.0,4,91.0,67.0,1965,15.0,82,japan,honda civic
378,38.0,4,105.0,63.0,2125,14.7,82,usa,plymouth horizon miser
348,37.7,4,89.0,62.0,2050,17.3,81,japan,toyota tercel
304,37.3,4,91.0,69.0,2130,14.7,79,europe,fiat strada custom
312,37.2,4,86.0,65.0,2019,16.4,80,japan,datsun 310
320,37.0,4,119.0,92.0,2434,15.0,80,japan,datsun 510 hatchback
347,37.0,4,85.0,65.0,1975,19.4,81,japan,datsun 210 mpg
376,37.0,4,91.0,68.0,2025,18.2,82,japan,mazda glc custom l
327,36.4,5,121.0,67.0,2950,19.9,80,europe,audi 5000s (diesel)
245,36.1,4,98.0,66.0,1800,14.4,78,usa,ford fiesta
248,36.1,4,91.0,60.0,1800,16.4,78,japan,honda civic cvcc
379,36.0,4,98.0,70.0,2125,17.3,82,usa,mercury lynx l
391,36.0,4,135.0,84.0,2370,13.0,82,usa,dodge charger 2.2
218,36.0,4,79.0,58.0,1825,18.6,77,europe,renault 5 gtl
375,36.0,4,105.0,74.0,1980,15.3,82,europe,volkswagen rabbit l
...,...,...,...,...,...,...,...,...,...
137,13.0,8,350.0,150.0,4699,14.5,74,usa,buick century luxus (sw)
96,13.0,8,360.0,175.0,3821,11.0,73,usa,amc ambassador brougham
94,13.0,8,440.0,215.0,4735,11.0,73,usa,chrysler new yorker brougham
92,13.0,8,351.0,158.0,4363,13.0,73,usa,ford ltd
91,13.0,8,400.0,150.0,4464,12.0,73,usa,chevrolet caprice classic
68,13.0,8,350.0,155.0,4502,13.5,72,usa,buick lesabre custom
70,13.0,8,400.0,190.0,4422,12.5,72,usa,chrysler newport royal
62,13.0,8,350.0,165.0,4274,12.0,72,usa,chevrolet impala
213,13.0,8,350.0,145.0,4055,12.0,76,usa,chevy c10
43,13.0,8,400.0,170.0,4746,12.0,71,usa,ford country squire (sw)
44,13.0,8,400.0,175.0,5140,12.0,71,usa,pontiac safari (sw)
74,13.0,8,302.0,140.0,4294,16.0,72,usa,ford gran torino (sw)
73,13.0,8,307.0,130.0,4098,14.0,72,usa,chevrolet chevelle concours (sw)
85,13.0,8,350.0,175.0,4100,13.0,73,usa,buick century 350
166,13.0,8,302.0,129.0,3169,12.0,75,usa,ford mustang ii
215,13.0,8,318.0,150.0,3755,14.0,76,usa,dodge d100
214,13.0,8,302.0,130.0,3870,15.0,76,usa,ford f108
106,12.0,8,350.0,180.0,4499,12.5,73,usa,oldsmobile vista cruiser
69,12.0,8,350.0,160.0,4456,13.5,72,usa,oldsmobile delta 88 royale
104,12.0,8,400.0,167.0,4906,12.5,73,usa,ford country
90,12.0,8,429.0,198.0,4952,11.5,73,usa,mercury marquis brougham
42,12.0,8,383.0,180.0,4955,11.5,71,usa,dodge monaco (sw)
95,12.0,8,455.0,225.0,4951,11.0,73,usa,buick electra 225 custom
124,11.0,8,350.0,180.0,3664,11.0,73,usa,oldsmobile omega
27,11.0,8,318.0,210.0,4382,13.5,70,usa,dodge d200
103,11.0,8,400.0,150.0,4997,14.0,73,usa,chevrolet impala
67,11.0,8,429.0,208.0,4633,11.0,72,usa,mercury marquis
25,10.0,8,360.0,215.0,4615,14.0,70,usa,ford f250
26,10.0,8,307.0,200.0,4376,15.0,70,usa,chevy c20
28,9.0,8,304.0,193.0,4732,18.5,70,usa,hi 1200d

In [11]:
df.sort_values('mpg',ascending=True).head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
28,9.0,8,304.0,193.0,4732,18.5,70,usa,hi 1200d
25,10.0,8,360.0,215.0,4615,14.0,70,usa,ford f250
26,10.0,8,307.0,200.0,4376,15.0,70,usa,chevy c20
103,11.0,8,400.0,150.0,4997,14.0,73,usa,chevrolet impala
124,11.0,8,350.0,180.0,3664,11.0,73,usa,oldsmobile omega

In [8]:
df.sort_values?

### df.rename(columns = {'y':'year'})

In [12]:
# df에 y라는 컬럼이 없으니 model_year컬럼으로 대신 채워주자
df.rename(columns = {'model_year':'year'})

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
5,15.0,8,429.0,198.0,4341,10.0,70,usa,ford galaxie 500
6,14.0,8,454.0,220.0,4354,9.0,70,usa,chevrolet impala
7,14.0,8,440.0,215.0,4312,8.5,70,usa,plymouth fury iii
8,14.0,8,455.0,225.0,4425,10.0,70,usa,pontiac catalina
9,15.0,8,390.0,190.0,3850,8.5,70,usa,amc ambassador dpl
10,15.0,8,383.0,170.0,3563,10.0,70,usa,dodge challenger se
11,14.0,8,340.0,160.0,3609,8.0,70,usa,plymouth 'cuda 340
12,15.0,8,400.0,150.0,3761,9.5,70,usa,chevrolet monte carlo
13,14.0,8,455.0,225.0,3086,10.0,70,usa,buick estate wagon (sw)
14,24.0,4,113.0,95.0,2372,15.0,70,japan,toyota corona mark ii
15,22.0,6,198.0,95.0,2833,15.5,70,usa,plymouth duster
16,18.0,6,199.0,97.0,2774,15.5,70,usa,amc hornet
17,21.0,6,200.0,85.0,2587,16.0,70,usa,ford maverick
18,27.0,4,97.0,88.0,2130,14.5,70,japan,datsun pl510
19,26.0,4,97.0,46.0,1835,20.5,70,europe,volkswagen 1131 deluxe sedan
20,25.0,4,110.0,87.0,2672,17.5,70,europe,peugeot 504
21,24.0,4,107.0,90.0,2430,14.5,70,europe,audi 100 ls
22,25.0,4,104.0,95.0,2375,17.5,70,europe,saab 99e
23,26.0,4,121.0,113.0,2234,12.5,70,europe,bmw 2002
24,21.0,6,199.0,90.0,2648,15.0,70,usa,amc gremlin
25,10.0,8,360.0,215.0,4615,14.0,70,usa,ford f250
26,10.0,8,307.0,200.0,4376,15.0,70,usa,chevy c20
27,11.0,8,318.0,210.0,4382,13.5,70,usa,dodge d200
28,9.0,8,304.0,193.0,4732,18.5,70,usa,hi 1200d
29,27.0,4,97.0,88.0,2130,14.5,71,japan,datsun pl510
...,...,...,...,...,...,...,...,...,...
368,27.0,4,112.0,88.0,2640,18.6,82,usa,chevrolet cavalier wagon
369,34.0,4,112.0,88.0,2395,18.0,82,usa,chevrolet cavalier 2-door
370,31.0,4,112.0,85.0,2575,16.2,82,usa,pontiac j2000 se hatchback
371,29.0,4,135.0,84.0,2525,16.0,82,usa,dodge aries se
372,27.0,4,151.0,90.0,2735,18.0,82,usa,pontiac phoenix
373,24.0,4,140.0,92.0,2865,16.4,82,usa,ford fairmont futura
374,23.0,4,151.0,NaN,3035,20.5,82,usa,amc concord dl
375,36.0,4,105.0,74.0,1980,15.3,82,europe,volkswagen rabbit l
376,37.0,4,91.0,68.0,2025,18.2,82,japan,mazda glc custom l
377,31.0,4,91.0,68.0,1970,17.6,82,japan,mazda glc custom
378,38.0,4,105.0,63.0,2125,14.7,82,usa,plymouth horizon miser
379,36.0,4,98.0,70.0,2125,17.3,82,usa,mercury lynx l
380,36.0,4,120.0,88.0,2160,14.5,82,japan,nissan stanza xe
381,36.0,4,107.0,75.0,2205,14.5,82,japan,honda accord
382,34.0,4,108.0,70.0,2245,16.9,82,japan,toyota corolla
383,38.0,4,91.0,67.0,1965,15.0,82,japan,honda civic
384,32.0,4,91.0,67.0,1965,15.7,82,japan,honda civic (auto)
385,38.0,4,91.0,67.0,1995,16.2,82,japan,datsun 310 gx
386,25.0,6,181.0,110.0,2945,16.4,82,usa,buick century limited
387,38.0,6,262.0,85.0,3015,17.0,82,usa,oldsmobile cutlass ciera (diesel)
388,26.0,4,156.0,92.0,2585,14.5,82,usa,chrysler lebaron medallion
389,22.0,6,232.0,112.0,2835,14.7,82,usa,ford granada l
390,32.0,4,144.0,96.0,2665,13.9,82,japan,toyota celica gt
391,36.0,4,135.0,84.0,2370,13.0,82,usa,dodge charger 2.2
392,27.0,4,151.0,90.0,2950,17.3,82,usa,chevrolet camaro
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [19]:
# 이때, 이렇게 변경된 컬럼이름을 따로 저장해두지 않으면 원래 df을 보여준다.
# year가 아닌 model_year라 나와 있다. 
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
5,15.0,8,429.0,198.0,4341,10.0,70,usa,ford galaxie 500
6,14.0,8,454.0,220.0,4354,9.0,70,usa,chevrolet impala
7,14.0,8,440.0,215.0,4312,8.5,70,usa,plymouth fury iii
8,14.0,8,455.0,225.0,4425,10.0,70,usa,pontiac catalina
9,15.0,8,390.0,190.0,3850,8.5,70,usa,amc ambassador dpl
10,15.0,8,383.0,170.0,3563,10.0,70,usa,dodge challenger se
11,14.0,8,340.0,160.0,3609,8.0,70,usa,plymouth 'cuda 340
12,15.0,8,400.0,150.0,3761,9.5,70,usa,chevrolet monte carlo
13,14.0,8,455.0,225.0,3086,10.0,70,usa,buick estate wagon (sw)
14,24.0,4,113.0,95.0,2372,15.0,70,japan,toyota corona mark ii
15,22.0,6,198.0,95.0,2833,15.5,70,usa,plymouth duster
16,18.0,6,199.0,97.0,2774,15.5,70,usa,amc hornet
17,21.0,6,200.0,85.0,2587,16.0,70,usa,ford maverick
18,27.0,4,97.0,88.0,2130,14.5,70,japan,datsun pl510
19,26.0,4,97.0,46.0,1835,20.5,70,europe,volkswagen 1131 deluxe sedan
20,25.0,4,110.0,87.0,2672,17.5,70,europe,peugeot 504
21,24.0,4,107.0,90.0,2430,14.5,70,europe,audi 100 ls
22,25.0,4,104.0,95.0,2375,17.5,70,europe,saab 99e
23,26.0,4,121.0,113.0,2234,12.5,70,europe,bmw 2002
24,21.0,6,199.0,90.0,2648,15.0,70,usa,amc gremlin
25,10.0,8,360.0,215.0,4615,14.0,70,usa,ford f250
26,10.0,8,307.0,200.0,4376,15.0,70,usa,chevy c20
27,11.0,8,318.0,210.0,4382,13.5,70,usa,dodge d200
28,9.0,8,304.0,193.0,4732,18.5,70,usa,hi 1200d
29,27.0,4,97.0,88.0,2130,14.5,71,japan,datsun pl510
...,...,...,...,...,...,...,...,...,...
368,27.0,4,112.0,88.0,2640,18.6,82,usa,chevrolet cavalier wagon
369,34.0,4,112.0,88.0,2395,18.0,82,usa,chevrolet cavalier 2-door
370,31.0,4,112.0,85.0,2575,16.2,82,usa,pontiac j2000 se hatchback
371,29.0,4,135.0,84.0,2525,16.0,82,usa,dodge aries se
372,27.0,4,151.0,90.0,2735,18.0,82,usa,pontiac phoenix
373,24.0,4,140.0,92.0,2865,16.4,82,usa,ford fairmont futura
374,23.0,4,151.0,NaN,3035,20.5,82,usa,amc concord dl
375,36.0,4,105.0,74.0,1980,15.3,82,europe,volkswagen rabbit l
376,37.0,4,91.0,68.0,2025,18.2,82,japan,mazda glc custom l
377,31.0,4,91.0,68.0,1970,17.6,82,japan,mazda glc custom
378,38.0,4,105.0,63.0,2125,14.7,82,usa,plymouth horizon miser
379,36.0,4,98.0,70.0,2125,17.3,82,usa,mercury lynx l
380,36.0,4,120.0,88.0,2160,14.5,82,japan,nissan stanza xe
381,36.0,4,107.0,75.0,2205,14.5,82,japan,honda accord
382,34.0,4,108.0,70.0,2245,16.9,82,japan,toyota corolla
383,38.0,4,91.0,67.0,1965,15.0,82,japan,honda civic
384,32.0,4,91.0,67.0,1965,15.7,82,japan,honda civic (auto)
385,38.0,4,91.0,67.0,1995,16.2,82,japan,datsun 310 gx
386,25.0,6,181.0,110.0,2945,16.4,82,usa,buick century limited
387,38.0,6,262.0,85.0,3015,17.0,82,usa,oldsmobile cutlass ciera (diesel)
388,26.0,4,156.0,92.0,2585,14.5,82,usa,chrysler lebaron medallion
389,22.0,6,232.0,112.0,2835,14.7,82,usa,ford granada l
390,32.0,4,144.0,96.0,2665,13.9,82,japan,toyota celica gt
391,36.0,4,135.0,84.0,2370,13.0,82,usa,dodge charger 2.2
392,27.0,4,151.0,90.0,2950,17.3,82,usa,chevrolet camaro
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [20]:
# 따라서 변경된 사항을 저장해주려면
df = df.rename(columns = {'model_year':'year'})
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
5,15.0,8,429.0,198.0,4341,10.0,70,usa,ford galaxie 500
6,14.0,8,454.0,220.0,4354,9.0,70,usa,chevrolet impala
7,14.0,8,440.0,215.0,4312,8.5,70,usa,plymouth fury iii
8,14.0,8,455.0,225.0,4425,10.0,70,usa,pontiac catalina
9,15.0,8,390.0,190.0,3850,8.5,70,usa,amc ambassador dpl
10,15.0,8,383.0,170.0,3563,10.0,70,usa,dodge challenger se
11,14.0,8,340.0,160.0,3609,8.0,70,usa,plymouth 'cuda 340
12,15.0,8,400.0,150.0,3761,9.5,70,usa,chevrolet monte carlo
13,14.0,8,455.0,225.0,3086,10.0,70,usa,buick estate wagon (sw)
14,24.0,4,113.0,95.0,2372,15.0,70,japan,toyota corona mark ii
15,22.0,6,198.0,95.0,2833,15.5,70,usa,plymouth duster
16,18.0,6,199.0,97.0,2774,15.5,70,usa,amc hornet
17,21.0,6,200.0,85.0,2587,16.0,70,usa,ford maverick
18,27.0,4,97.0,88.0,2130,14.5,70,japan,datsun pl510
19,26.0,4,97.0,46.0,1835,20.5,70,europe,volkswagen 1131 deluxe sedan
20,25.0,4,110.0,87.0,2672,17.5,70,europe,peugeot 504
21,24.0,4,107.0,90.0,2430,14.5,70,europe,audi 100 ls
22,25.0,4,104.0,95.0,2375,17.5,70,europe,saab 99e
23,26.0,4,121.0,113.0,2234,12.5,70,europe,bmw 2002
24,21.0,6,199.0,90.0,2648,15.0,70,usa,amc gremlin
25,10.0,8,360.0,215.0,4615,14.0,70,usa,ford f250
26,10.0,8,307.0,200.0,4376,15.0,70,usa,chevy c20
27,11.0,8,318.0,210.0,4382,13.5,70,usa,dodge d200
28,9.0,8,304.0,193.0,4732,18.5,70,usa,hi 1200d
29,27.0,4,97.0,88.0,2130,14.5,71,japan,datsun pl510
...,...,...,...,...,...,...,...,...,...
368,27.0,4,112.0,88.0,2640,18.6,82,usa,chevrolet cavalier wagon
369,34.0,4,112.0,88.0,2395,18.0,82,usa,chevrolet cavalier 2-door
370,31.0,4,112.0,85.0,2575,16.2,82,usa,pontiac j2000 se hatchback
371,29.0,4,135.0,84.0,2525,16.0,82,usa,dodge aries se
372,27.0,4,151.0,90.0,2735,18.0,82,usa,pontiac phoenix
373,24.0,4,140.0,92.0,2865,16.4,82,usa,ford fairmont futura
374,23.0,4,151.0,NaN,3035,20.5,82,usa,amc concord dl
375,36.0,4,105.0,74.0,1980,15.3,82,europe,volkswagen rabbit l
376,37.0,4,91.0,68.0,2025,18.2,82,japan,mazda glc custom l
377,31.0,4,91.0,68.0,1970,17.6,82,japan,mazda glc custom
378,38.0,4,105.0,63.0,2125,14.7,82,usa,plymouth horizon miser
379,36.0,4,98.0,70.0,2125,17.3,82,usa,mercury lynx l
380,36.0,4,120.0,88.0,2160,14.5,82,japan,nissan stanza xe
381,36.0,4,107.0,75.0,2205,14.5,82,japan,honda accord
382,34.0,4,108.0,70.0,2245,16.9,82,japan,toyota corolla
383,38.0,4,91.0,67.0,1965,15.0,82,japan,honda civic
384,32.0,4,91.0,67.0,1965,15.7,82,japan,honda civic (auto)
385,38.0,4,91.0,67.0,1995,16.2,82,japan,datsun 310 gx
386,25.0,6,181.0,110.0,2945,16.4,82,usa,buick century limited
387,38.0,6,262.0,85.0,3015,17.0,82,usa,oldsmobile cutlass ciera (diesel)
388,26.0,4,156.0,92.0,2585,14.5,82,usa,chrysler lebaron medallion
389,22.0,6,232.0,112.0,2835,14.7,82,usa,ford granada l
390,32.0,4,144.0,96.0,2665,13.9,82,japan,toyota celica gt
391,36.0,4,135.0,84.0,2370,13.0,82,usa,dodge charger 2.2
392,27.0,4,151.0,90.0,2950,17.3,82,usa,chevrolet camaro
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

### df.sort_index()
- df 맨 왼쪽에 숫자가 있는데 이 숫자의 인덱스별로 데이터를 정렬한다

In [21]:
df.sort_index()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
5,15.0,8,429.0,198.0,4341,10.0,70,usa,ford galaxie 500
6,14.0,8,454.0,220.0,4354,9.0,70,usa,chevrolet impala
7,14.0,8,440.0,215.0,4312,8.5,70,usa,plymouth fury iii
8,14.0,8,455.0,225.0,4425,10.0,70,usa,pontiac catalina
9,15.0,8,390.0,190.0,3850,8.5,70,usa,amc ambassador dpl
10,15.0,8,383.0,170.0,3563,10.0,70,usa,dodge challenger se
11,14.0,8,340.0,160.0,3609,8.0,70,usa,plymouth 'cuda 340
12,15.0,8,400.0,150.0,3761,9.5,70,usa,chevrolet monte carlo
13,14.0,8,455.0,225.0,3086,10.0,70,usa,buick estate wagon (sw)
14,24.0,4,113.0,95.0,2372,15.0,70,japan,toyota corona mark ii
15,22.0,6,198.0,95.0,2833,15.5,70,usa,plymouth duster
16,18.0,6,199.0,97.0,2774,15.5,70,usa,amc hornet
17,21.0,6,200.0,85.0,2587,16.0,70,usa,ford maverick
18,27.0,4,97.0,88.0,2130,14.5,70,japan,datsun pl510
19,26.0,4,97.0,46.0,1835,20.5,70,europe,volkswagen 1131 deluxe sedan
20,25.0,4,110.0,87.0,2672,17.5,70,europe,peugeot 504
21,24.0,4,107.0,90.0,2430,14.5,70,europe,audi 100 ls
22,25.0,4,104.0,95.0,2375,17.5,70,europe,saab 99e
23,26.0,4,121.0,113.0,2234,12.5,70,europe,bmw 2002
24,21.0,6,199.0,90.0,2648,15.0,70,usa,amc gremlin
25,10.0,8,360.0,215.0,4615,14.0,70,usa,ford f250
26,10.0,8,307.0,200.0,4376,15.0,70,usa,chevy c20
27,11.0,8,318.0,210.0,4382,13.5,70,usa,dodge d200
28,9.0,8,304.0,193.0,4732,18.5,70,usa,hi 1200d
29,27.0,4,97.0,88.0,2130,14.5,71,japan,datsun pl510
...,...,...,...,...,...,...,...,...,...
368,27.0,4,112.0,88.0,2640,18.6,82,usa,chevrolet cavalier wagon
369,34.0,4,112.0,88.0,2395,18.0,82,usa,chevrolet cavalier 2-door
370,31.0,4,112.0,85.0,2575,16.2,82,usa,pontiac j2000 se hatchback
371,29.0,4,135.0,84.0,2525,16.0,82,usa,dodge aries se
372,27.0,4,151.0,90.0,2735,18.0,82,usa,pontiac phoenix
373,24.0,4,140.0,92.0,2865,16.4,82,usa,ford fairmont futura
374,23.0,4,151.0,NaN,3035,20.5,82,usa,amc concord dl
375,36.0,4,105.0,74.0,1980,15.3,82,europe,volkswagen rabbit l
376,37.0,4,91.0,68.0,2025,18.2,82,japan,mazda glc custom l
377,31.0,4,91.0,68.0,1970,17.6,82,japan,mazda glc custom
378,38.0,4,105.0,63.0,2125,14.7,82,usa,plymouth horizon miser
379,36.0,4,98.0,70.0,2125,17.3,82,usa,mercury lynx l
380,36.0,4,120.0,88.0,2160,14.5,82,japan,nissan stanza xe
381,36.0,4,107.0,75.0,2205,14.5,82,japan,honda accord
382,34.0,4,108.0,70.0,2245,16.9,82,japan,toyota corolla
383,38.0,4,91.0,67.0,1965,15.0,82,japan,honda civic
384,32.0,4,91.0,67.0,1965,15.7,82,japan,honda civic (auto)
385,38.0,4,91.0,67.0,1995,16.2,82,japan,datsun 310 gx
386,25.0,6,181.0,110.0,2945,16.4,82,usa,buick century limited
387,38.0,6,262.0,85.0,3015,17.0,82,usa,oldsmobile cutlass ciera (diesel)
388,26.0,4,156.0,92.0,2585,14.5,82,usa,chrysler lebaron medallion
389,22.0,6,232.0,112.0,2835,14.7,82,usa,ford granada l
390,32.0,4,144.0,96.0,2665,13.9,82,japan,toyota celica gt
391,36.0,4,135.0,84.0,2370,13.0,82,usa,dodge charger 2.2
392,27.0,4,151.0,90.0,2950,17.3,82,usa,chevrolet camaro
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

### df.reset_index()
- df의 인덱스를 다시 리셋시킨다
- 인덱스가 없을때 인덱스를 새로 만들고싶을때 사용한다.

In [22]:
# 기존의 index는 index라는 컬럼을 만들어서 새로운 컬럼이 되었고, 인덱스를 새로 만들었다.
df.reset_index()

,index,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
5,5,15.0,8,429.0,198.0,4341,10.0,70,usa,ford galaxie 500
6,6,14.0,8,454.0,220.0,4354,9.0,70,usa,chevrolet impala
7,7,14.0,8,440.0,215.0,4312,8.5,70,usa,plymouth fury iii
8,8,14.0,8,455.0,225.0,4425,10.0,70,usa,pontiac catalina
9,9,15.0,8,390.0,190.0,3850,8.5,70,usa,amc ambassador dpl
10,10,15.0,8,383.0,170.0,3563,10.0,70,usa,dodge challenger se
11,11,14.0,8,340.0,160.0,3609,8.0,70,usa,plymouth 'cuda 340
12,12,15.0,8,400.0,150.0,3761,9.5,70,usa,chevrolet monte carlo
13,13,14.0,8,455.0,225.0,3086,10.0,70,usa,buick estate wagon (sw)
14,14,24.0,4,113.0,95.0,2372,15.0,70,japan,toyota corona mark ii
15,15,22.0,6,198.0,95.0,2833,15.5,70,usa,plymouth duster
16,16,18.0,6,199.0,97.0,2774,15.5,70,usa,amc hornet
17,17,21.0,6,200.0,85.0,2587,16.0,70,usa,ford maverick
18,18,27.0,4,97.0,88.0,2130,14.5,70,japan,datsun pl510
19,19,26.0,4,97.0,46.0,1835,20.5,70,europe,volkswagen 1131 deluxe sedan
20,20,25.0,4,110.0,87.0,2672,17.5,70,europe,peugeot 504
21,21,24.0,4,107.0,90.0,2430,14.5,70,europe,audi 100 ls
22,22,25.0,4,104.0,95.0,2375,17.5,70,europe,saab 99e
23,23,26.0,4,121.0,113.0,2234,12.5,70,europe,bmw 2002
24,24,21.0,6,199.0,90.0,2648,15.0,70,usa,amc gremlin
25,25,10.0,8,360.0,215.0,4615,14.0,70,usa,ford f250
26,26,10.0,8,307.0,200.0,4376,15.0,70,usa,chevy c20
27,27,11.0,8,318.0,210.0,4382,13.5,70,usa,dodge d200
28,28,9.0,8,304.0,193.0,4732,18.5,70,usa,hi 1200d
29,29,27.0,4,97.0,88.0,2130,14.5,71,japan,datsun pl510
...,...,...,...,...,...,...,...,...,...,...
368,368,27.0,4,112.0,88.0,2640,18.6,82,usa,chevrolet cavalier wagon
369,369,34.0,4,112.0,88.0,2395,18.0,82,usa,chevrolet cavalier 2-door
370,370,31.0,4,112.0,85.0,2575,16.2,82,usa,pontiac j2000 se hatchback
371,371,29.0,4,135.0,84.0,2525,16.0,82,usa,dodge aries se
372,372,27.0,4,151.0,90.0,2735,18.0,82,usa,pontiac phoenix
373,373,24.0,4,140.0,92.0,2865,16.4,82,usa,ford fairmont futura
374,374,23.0,4,151.0,NaN,3035,20.5,82,usa,amc concord dl
375,375,36.0,4,105.0,74.0,1980,15.3,82,europe,volkswagen rabbit l
376,376,37.0,4,91.0,68.0,2025,18.2,82,japan,mazda glc custom l
377,377,31.0,4,91.0,68.0,1970,17.6,82,japan,mazda glc custom
378,378,38.0,4,105.0,63.0,2125,14.7,82,usa,plymouth horizon miser
379,379,36.0,4,98.0,70.0,2125,17.3,82,usa,mercury lynx l
380,380,36.0,4,120.0,88.0,2160,14.5,82,japan,nissan stanza xe
381,381,36.0,4,107.0,75.0,2205,14.5,82,japan,honda accord
382,382,34.0,4,108.0,70.0,2245,16.9,82,japan,toyota corolla
383,383,38.0,4,91.0,67.0,1965,15.0,82,japan,honda civic
384,384,32.0,4,91.0,67.0,1965,15.7,82,japan,honda civic (auto)
385,385,38.0,4,91.0,67.0,1995,16.2,82,japan,datsun 310 gx
386,386,25.0,6,181.0,110.0,2945,16.4,82,usa,buick century limited
387,387,38.0,6,262.0,85.0,3015,17.0,82,usa,oldsmobile cutlass ciera (diesel)
388,388,26.0,4,156.0,92.0,2585,14.5,82,usa,chrysler lebaron medallion
389,389,22.0,6,232.0,112.0,2835,14.7,82,usa,ford granada l
390,390,32.0,4,144.0,96.0,2665,13.9,82,japan,toyota celica gt
391,391,36.0,4,135.0,84.0,2370,13.0,82,usa,dodge charger 2.2
392,392,27.0,4,151.0,90.0,2950,17.3,82,usa,chevrolet camaro
393,393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

### df.drop(columns = ['Length', 'Height'])
- 특정 컬럼을 drop시킨다.
- inplace = True를 하거나 df = df.drop(columns = ['drop을 원하는 열의 이름']을 해주면 기존 df에 드롭된 상태로 저장이 된다.

In [26]:
# df에 Length와 Height가 없으므로 df에 존재하는 컬럼 mpg, year를 가지고 해보자.
df.drop(columns = ['mpg', 'year', 'name'])

     cylinders  displacement  horsepower  weight  acceleration  origin
0            8         307.0       130.0    3504          12.0     usa
1            8         350.0       165.0    3693          11.5     usa
2            8         318.0       150.0    3436          11.0     usa
3            8         304.0       150.0    3433          12.0     usa
4            8         302.0       140.0    3449          10.5     usa
5            8         429.0       198.0    4341          10.0     usa
6            8         454.0       220.0    4354           9.0     usa
7            8         440.0       215.0    4312           8.5     usa
8            8         455.0       225.0    4425          10.0     usa
9            8         390.0       190.0    3850           8.5     usa
10           8         383.0       170.0    3563          10.0     usa
11           8         340.0       160.0    3609           8.0     usa
12           8         400.0       150.0    3761           9.5     usa
13           8         455.0       225.0    3086          10.0     usa
14           4         113.0        95.0    2372          15.0   japan
15           6         198.0        95.0    2833          15.5     usa
16           6         199.0        97.0    2774          15.5     usa
17           6         200.0        85.0    2587          16.0     usa
18           4          97.0        88.0    2130          14.5   japan
19           4          97.0        46.0    1835          20.5  europe
20           4         110.0        87.0    2672          17.5  europe
21           4         107.0        90.0    2430          14.5  europe
22           4         104.0        95.0    2375          17.5  europe
23           4         121.0       113.0    2234          12.5  europe
24           6         199.0        90.0    2648          15.0     usa
25           8         360.0       215.0    4615          14.0     usa
26           8         307.0       200.0    4376          15.0     usa
27           8         318.0       210.0    4382          13.5     usa
28           8         304.0       193.0    4732          18.5     usa
29           4          97.0        88.0    2130          14.5   japan
..         ...           ...         ...     ...           ...     ...
368          4         112.0        88.0    2640          18.6     usa
369          4         112.0        88.0    2395          18.0     usa
370          4         112.0        85.0    2575          16.2     usa
371          4         135.0        84.0    2525          16.0     usa
372          4         151.0        90.0    2735          18.0     usa
373          4         140.0        92.0    2865          16.4     usa
374          4         151.0         NaN    3035          20.5     usa
375          4         105.0        74.0    1980          15.3  europe
376          4          91.0        68.0    2025          18.2   japan
377          4          91.0        68.0    1970          17.6   japan
378          4         105.0        63.0    2125          14.7     usa
379          4          98.0        70.0    2125          17.3     usa
380          4         120.0        88.0    2160          14.5   japan
381          4         107.0        75.0    2205          14.5   japan
382          4         108.0        70.0    2245          16.9   japan
383          4          91.0        67.0    1965          15.0   japan
384          4          91.0        67.0    1965          15.7   japan
385          4          91.0        67.0    1995          16.2   japan
386          6         181.0       110.0    2945          16.4     usa
387          6         262.0        85.0    3015          17.0     usa
388          4         156.0        92.0    2585          14.5     usa
389          6         232.0       112.0    2835          14.7     usa
390          4         144.0        96.0    2665          13.9   japan
391          4         135.0        84.0    2370          13.0     usa
392          4         151.0        90.0    2950          17.3     usa
393          4         140.0        86.0    2790          15.6     usa
394          4          97.0        52.0    2130          24.6  europe
395          4         135.0        84.0    2295          11.6     usa
396          4         120.0        79.0    2625          18.6     usa
397          4         119.0        82.0    2720          19.4     usa

[398 rows x 6 columns]

----
## melt, pivot으로 Tidy Data만들기
- df를 어떻게 변형하냐에 따라서 필요에 따라 변형해 사용해야할 때가 있다. 
- 예를 들어 시각화, 머신러닝 등을 위해 데이터 전처리부분에서 꼭 필요하다.
<br><br>
`melt`를 통해 열로 되어있는 데이터를 행으로, <br>
`pivot`을 통해 행으로 된 데이터를 열로 보낼 수 있다.

In [29]:
# df 새로 만들기
pd.melt?

In [4]:
# pd.melt?에 있는 df가져오기
df = pd.DataFrame({'A': {0: 'a', 1: 'b', 2: 'c'},
                   'B': {0: 1, 1: 3, 2: 5},
                   'C': {0: 2, 1: 4, 2: 6}})

df

   A  B  C
0  a  1  2
1  b  3  4
2  c  5  6

### pd.melt(df)
- 컬럼의 값들을 로우로 바꿔준다

In [31]:
# id_vars, value_vars를 통해 A는 id, B, C는 value로.

pd.melt(df, id_vars=['A'], value_vars=['B', 'C'])

   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5
3  a        C      2
4  b        C      4
5  c        C      6

In [5]:
pd.melt(df, id_vars=['A'], value_vars=['B'])

   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5

In [32]:
pd.melt(df, value_vars=['A','B', 'C'])

  variable value
0        A     a
1        A     b
2        A     c
3        B     1
4        B     3
5        B     5
6        C     2
7        C     4
8        C     6

In [6]:
# 열값에 D가 없으니 에러가 뜬다.
pd.melt(df, id_vars=['A'], value_vars=['D'])

/Users/SO/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

   A variable  value
0  a        D    NaN
1  b        D    NaN
2  c        D    NaN

In [7]:
# A, B, C각각의 컬럼을 로우로 옮겼다. 
pd.melt(df, value_vars=['A', 'B', 'C'])

  variable value
0        A     a
1        A     b
2        A     c
3        B     1
4        B     3
5        B     5
6        C     2
7        C     4
8        C     6

## 위의 variable, value라 되어있는 컬럼명을 바꿔줘보자.
### pandas cheat sheet의 `Method Chaining` 참고

In [8]:
# variable은 var로, vlaue는 val로 변경하기
pd.melt(df, value_vars=['A', 'B', 'C']).rename(columns={
                   'variable' : 'var',
                   'value' : 'val'})

  var val
0   A   a
1   A   b
2   A   c
3   B   1
4   B   3
5   B   5
6   C   2
7   C   4
8   C   6

### df.pivot(columns='var', values='val')
- row로 보냈던 컬럼값들을 다시 컬럼으로 보내보자

In [9]:
df.pivot?

In [12]:
df2 = pd.DataFrame({'foo': ['one', 'one', 'one', 'two', 'two','two'],
                    'bar': ['A', 'B', 'C', 'A', 'B', 'C'],
                    'baz': [1, 2, 3, 4, 5, 6]})

df2

   foo bar  baz
0  one   A    1
1  one   B    2
2  one   C    3
3  two   A    4
4  two   B    5
5  two   C    6

In [13]:
# pivot을 통해 A, B, C라 되어있는 컬럼을 만들어서 옮겨주었다.
# index는 foo, column은 bar, 값은 baz
df2.pivot(index = 'foo', columns = 'bar', values = 'baz')

bar  A  B  C
foo
one  1  2  3
two  4  5  6

### df.reset_index( )
- A, B, C라는 컬럼이 만들어진 후 df.reset_index()를 하면 왼쪽에 bar와 foo값이 각각의 컬럼명으로 들어가있는 것을 볼 수 있다.
- 즉, 새로운 index를 만들어준 것

In [14]:
df2.pivot(index = 'foo', columns = 'bar', values = 'baz').reset_index()

bar  foo  A  B  C
0    one  1  2  3
1    two  4  5  6

In [16]:
# 이를 df3에 담아줘보자.
df3 = df2.pivot(index = 'foo', columns = 'bar', values = 'baz').reset_index()
df3

bar  foo  A  B  C
0    one  1  2  3
1    two  4  5  6

In [17]:
# pd.melt()를 다시해보자.
# pivot으로 만든 데이터를 melt를 통해.. df2라 만들어준 데이터프레임과 유사하게 다시 만들어보자.
df3.melt?

# 여기의 자료를 가져와보자

In [20]:
df3.melt(id_vars=['foo'], value_vars=['A', 'B', 'C'])

   foo bar  value
0  one   A      1
1  two   A      4
2  one   B      2
3  two   B      5
4  one   C      3
5  two   C      6

In [21]:
# 위의 데이터프레임을 df2와 유사하게 만들기 위해
# df.sort_values()를 통해 method chaining형태로 만들 수 있다.
# 'foo'를 통해 정리해보자
df3.melt(id_vars=['foo'], value_vars=['A', 'B', 'C']).sort_values('foo')

   foo bar  value
0  one   A      1
2  one   B      2
4  one   C      3
1  two   A      4
3  two   B      5
5  two   C      6

In [24]:
# 위와 같은 정렬형태를 `리스트`를 통해 두개의 열로 정리할 수도 있다.
df3.melt(id_vars=['foo'], value_vars=['A', 'B', 'C']).sort_values(['foo', 'bar'])

   foo bar  value
0  one   A      1
2  one   B      2
4  one   C      3
1  two   A      4
3  two   B      5
5  two   C      6

In [25]:
# method chaining을 좀더 응용해보자
# 컬럼의 이름도 바꿔줘보자. value를 baz로 바꿔줘보자
df3.melt(
    id_vars=['foo'],
    value_vars=['A', 'B', 'C']).sort_values(
    ['foo', 'bar']).rename(columns = {'value':'baz'})

   foo bar  baz
0  one   A    1
2  one   B    2
4  one   C    3
1  two   A    4
3  two   B    5
5  two   C    6

## pd.concat([df1, df2]) 시리즈, 데이터프레임 합치기
- 서로 다른 데이이터인 df1, df2를 하나의 데이터프레임으로 합쳐주기.
- 같은 컬럼이 있는 두 개의 데이터를 `위아래`로 합쳐주기
- 리스트 형태로 두개를 합쳐주는 것을 보여줬지만 리스트를 통해 여러개의 데이터를 합치는 것도 가능하다.
<br><br>
- 외부데이터를 가져와 합치거나 전처리한 데이터를 합치거나 할때 pd.concat()을 많이 사용한다.

In [26]:
pd.concat?

In [28]:
# pd.concat?의 공식문서에서 예제를 가져옴
s1 = pd.Series(['a', 'b'])
s1

0    a
1    b
dtype: object

In [29]:
s2 = pd.Series(['c', 'd'])
s2

0    c
1    d
dtype: object

In [30]:
# pd.concat()을 통해 s1과 s2를 합쳐주자
pd.concat([s1, s2])

0    a
1    b
0    c
1    d
dtype: object

In [31]:
# 이때 pd.concat()에서 'ignore_index = True'라는 옵션을 줄 수 있다.
# 0 1 0 1로 되어있던 인덱스가 0 1 2 3으로 바뀐 것을 볼 수 있다.
pd.concat([s1, s2], ignore_index = True)

0    a
1    b
2    c
3    d
dtype: object

In [32]:
# s1, s2로 키를 줘보기
pd.concat([s1, s2], keys = ['s1', 's2'])

s1  0    a
    1    b
s2  0    c
    1    d
dtype: object

In [33]:
# names를 통해 컬럼명 지정도 가능하다.
pd.concat([s1, s2], keys = ['s1', 's2'], names = ['Series name', 'Row ID'])

Series name  Row ID
s1           0         a
             1         b
s2           0         c
             1         d
dtype: object

### pd.concat?에서 df형태를 가져와 새로운 실습을 해보자

In [35]:
df1 = pd.DataFrame([['a', 1], ['b', 2]],
                   columns=['letter', 'number'])
df1

  letter  number
0      a       1
1      b       2

In [36]:
df2 = pd.DataFrame([['c', 3], ['d', 4]],
                   columns=['letter', 'number'])
df2

  letter  number
0      c       3
1      d       4

In [38]:
# concat()을 통해 df1, df2를 합쳐줘보자
pd.concat([df1, df2])

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

In [39]:
# df3라는 데이터프레임을 또 만들어보자
df3 = pd.DataFrame([['c', 3, 'cat'], ['d', 4, 'dog']],
                   columns=['letter', 'number', 'animal'])
df3

  letter  number animal
0      c       3    cat
1      d       4    dog

In [40]:
# df1, df3를 합쳐보자.
# 형태가 다른 데이터프레임들을 합쳐보자
pd.concat([df1, df3])

/Users/SO/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

  animal letter  number
0    NaN      a       1
1    NaN      b       2
0    cat      c       3
1    dog      d       4

### concat()을 할때 `join = "inner"`라는 옵션을 줘보자

In [41]:
pd.concat([df1, df3], join = "inner")

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

=> animal이라는 컬럼이 없어지고 letter, number만 조인된 것을 확인 가능하다.

In [44]:
# pd.concat?에서 df4를 가져와보자
df4 = pd.DataFrame([['bird', 'polly'], ['monkey', 'george']],
                   columns=['animal', 'name'])
df4

   animal    name
0    bird   polly
1  monkey  george

<b>여기서 잠깐!</b><br>
series에서는 names를 통해 컬럼의 이름을 지정해줬지만 
dataframe에서는 columns를 통해 컬럼의 이름을 지정해줌을 알 수 있다.

---

```python
# Series에서는 names로 컬럼을
s1 = pd.Series(['a', 'b'])
s2 = pd.Series(['c', 'd'])
pd.concat([s1, s2], keys = ['s1', 's2'], names = ['Series name', 'Row ID'])
```

<br>

```python
# DataFrame에서는 columns로 컬럼을
df4 = pd.DataFrame([['bird', 'polly'], ['monkey', 'george']],
                   columns=['animal', 'name'])
```

In [47]:
# pd.concat?에서 df5, df6를 가져와보자
df5 = pd.DataFrame([1], index=['a'])
df5

   0
a  1

In [46]:
df6 = pd.DataFrame([2], index=['a'])
df6

   0
a  2

In [48]:
pd.concat([df5, df6])

   0
a  1
a  2

### 이때, `verify_integrity = True`라는 옵션을 주게되면?
### 에러가 나게 된다.

In [49]:
pd.concat([df5, df6], verify_integrity = True)

ValueError: Indexes have overlapping values: Index(['a'], dtype='object')

ValueError가 난다.<br>
왜냐하면 같은 index값이 있기에...<br>
이런 옵션을 주면 합칠때 중복된 값이 있다든지 할때 verify_integrity를 통해 검증을 해볼 수 있는 옵션이다.<br>
따라서 이 옵션을 주면 ValueError가 난다.